data/cleaning_dashapp.ipynb
reports/app.ipynb
reports/test.ipynb
venv/
Bücher/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

README-vorlage.md